body{
    color: rgb(0, 0, 0);
    background: rgb(196, 245, 195);
}
h3{
    width: 80%;
    font-size: 22px;
}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
